*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#container{
    margin: 1em auto;
    max-width: 50rem;
    background-color: #DDD;
    padding: 1rem;
    /* tem prioridade em relação as tags com mesmo pai. se comentasse o fixed ficaria acima. */
    position: relative;  /* nesse exemplo n precisa do relative, mas quando precisar, vai ser necessario organizar o eixo z(z-index) */
    /* define camada da posicao, quanto menor mais embaixo, quanto maior mais "sobre" fica */
    z-index: 1;
}
header, main, footer{
    border: 1px solid #999;
    padding: 1rem;
}
div.cookies{
    background-color: aqua;
    padding: 2rem;
    box-shadow: 0 0 0.1rem 0.1rem grey;
    border-radius: 0.5rem;
    /* quando coloca fixed ou absoljute o displey do elemento fica inline-block */
    position: fixed;
    top: 0.2rem;
    left: 0;
    /* é necesssario colocar para ocupar 100% */
    width: 100vw;
    z-index: 2;
}